[submodule "KuchCraft2/vendor/spdlog"]
	path = KuchCraft2/vendor/spdlog
	url = https://github.com/wooodiest/spdlog
[submodule "KuchCraft2/vendor/glm"]
	path = KuchCraft2/vendor/glm
	url = https://github.com/wooodiest/glm
